/*For sign up page*/
#signup{
 	width: 800px;
 	margin: 20px auto;
 	color: salmon;
 	}
label{
 	display: block;
 	padding-top: 1em;
 	}
input[type="submit"]{
 	display: block;
 	margin-top: 2em;
 	}
textarea{
 	display: block;
 	margin-bottom: 1em;
     }
input[type="checkbox"]{
 	display: inline-block;
 	margin-top: 1em;
 	}
label[for="agree"]{
 	display: inline;
 	}

/*For thanks page*/
#thanks{
		width: 800px;
		margin: 20px auto;
		color: salmon;
		}

/*For register page*/
#register{
	width: 800px;
	margin: 20px auto;
	color: salmon;
}